@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg{
  background-image: url(https://bibit.id/img/backGround9.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}

.bg1{
  background-image: url(https://bibit.id/img/backGround9.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 400px;
}


.shape-banner{
  background-image: url(https://bibit.id/img/backGround1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.content-title h3{
  font-size: 1.17em;
  margin: 30px;
}

.content-desc p {
  color: #6b7c93;
  font-size: 19px;
  line-height: 30px;
  margin: 32px 0;
}

.shadow-box {
    background: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    border-radius: 15px;
    color: #6b7c93;
    line-height: 25px;
    margin: 1000 auto;
    min-height: 170px;
    padding: 24px 20px 20px 45px;
    text-align: center;
    width: 350px;
}

.shadow-box h6{
  font-weight: bold;
}


